@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    /* Adjust the scrollbar width */
    height: 8px;
    /* Adjust the scrollbar height */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Scrollbar color on hover */
}

/* Hide the scroll arrows */
::-webkit-scrollbar-button {
    display: none;
}